.chatHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: gray;
}

.chatHeader__hash{
    color: gray;
    font-size: 30px;
    padding: 10px;
}

.chatHeader__left > h3{
    display: flex;
    align-items: center;
    /* color: #fff; */
}

.chatHeader__right{
    display: flex;
    align-items: center;
    flex: 0.5;
    justify-content: space-between;
}

.chatHeader__right > .MuiSvgIcon-root{
    padding: 5px;
    cursor: pointer;
}

.chatHeader__right > .MuiSvgIcon-root:hover{
    color: #fff;
}

.chatHeader__search{
    display: flex;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    border-radius: 5px;
    padding: 3px;
}

.chatHeader__search > input {
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    
}